langchain-google-genai
langchain
langchain_community
unstructured
tesseract
Pillow
pytesseract
llama_index.core
llama-index-readers-file
pinecone-client==3.0.0
llama-index
llama-index-llms-langchain
llama-index-embeddings-huggingface
docx2txt
spire.xls
pdfkit
FPDF
llama-index-embeddings-langchain
faiss-gpu
matplotlib
